/********************************************************************************
* css/style.css : Default css
* ---------------
*
* This file is part of the banana distribution
* Copyright: See COPYING files that comes with this distribution
********************************************************************************/

div.banana_scuts { text-align: left; padding: 0.5em 0em; }

/** GROUP LIST **/

table.banana_group td.new { text-align: center; }
table.banana_group td.all { text-align: center; }
table.banana_group td.grp { text-align: left; }
table.banana_group td.dsc { text-align: left; }

/** THREAD VIEW **/

table.banana_thread td { white-space: nowrap; height: 100%; vertical-align: middle; }

table.banana_thread tr.new { font-weight: bold; }

table.banana_thread td.date { width: 15%; text-align: center; }
table.banana_thread td.subj { text-align: left; overflow: hidden; }
table.banana_thread td.from { text-align: left; }

table.banana_thread div.tree { float: left; padding-right: 0.3em; }
table.banana_thread span.cur { font-style: italic; font-size: 90%; }

/** MESSAGE VIEW **/

table.banana_msg td.headers { width: 100%; }
table.banana_msg .hdr { width: 15%; text-align: right; font-weight: bold; padding-right: 1em; }
table.banana_msg td.xface { text-align: right; }

table.banana_msg td.thrd { padding: 0px; }
table.banana_msg table { border: 0px; padding: 0px; margin: 0px; width: 100%; }

table.banana_msg blockquote {
        color: blue;
        font-style: italic;
        margin-left: 0;
        padding-left: 1em;
        border-left: solid 1px;
        border-color: blue;
}
table.banana_msg blockquote blockquote {
	color: green;
	border-color: green;
}
table.banana_msg blockquote blockquote blockquote {
	color: #cc0000;
	border-color: #cc0000;
}

/** MISC **/

div.center { text-align: center; padding: 1em; }
p.error { color: red; background: inherit; }

