/** DEFAULTS **/

body {
    background-color: #ffffff;
    font-family: "Arial", sans-serif;
    color: #000000;
}

a:link, a:visited, a:active, a:hover {
    background-color: inherit;
    color: #003399;
}

a img { border: 0px; }

td { vertical-align: top; }

p.normal {
	margin-bottom: 0.5em;
	text-align: justify;
}

p.erreur, span.erreur {
	font-weight: bold;
	background-color: inherit;
	color: #ff0000;
}
	
div.rubrique {
	color: #555555;
	background: url('/images/sk_default_titre.gif');
	background-repeat: no-repeat;
    
	text-indent: 0.2em;
	text-align: left;
	font-family: "helvetica", sans-serif;
	font-weight: bolder;
	font-size: 120%;
	
    margin-top: 1em;
	margin-bottom: 1em;
	padding-left: 0.5em;
}

div.ssrubrique {
	padding-top: 0.5em;
	font-weight: bold;
}

.center { text-align: center; }


/*******************************************
*     TABLEAUX BICOLORES                   *
*******************************************/
table.bicol {
    background-color: #eeeeee;
    color: inherit;
    border: 1px solid #336699;
    border-collapse: collapse;
    width: 98%;
    margin-left: 1%;
}
table.tinybicol {
    background-color: #eeeeee;
    color: inherit;
    border: 1px solid #336699;
    border-collapse: collapse;
    width: 70%;
    margin-left: 15%;
}
table.tinybicol tr.impair, table.bicol tr.impair {}
table.tinybicol tr.pair, table.bicol tr.pair {
    background-color: #eeeed0;
    color: inherit;
}
table.tinybicol th, table.bicol th {
    background-color: #336699;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}
table.tinybicol td, table.bicol td {
    color: #000000;
    background-color: inherit;
}

/*******************************************
*             CHOIX SKINS                  *
*******************************************/

#skin {
    border-bottom: 1px solid #003399;
    border-top: 1px solid #003399;
    width: 98%;
    margin-left: 1%;
}
#skin td {
    border-bottom: 1px solid #003399;
    border-top: 1px solid #003399;
    vertical-align: middle;
}
#skin td.skigauche {
    background-color: #eeeeee;
    color: inherit;
    vertical-align: middle;
}
#skin td.skimilieu {
    padding-left: 1em;
    width: 100%;
}
#skin td.skidroite { padding: 0; }

/**************
    LAYOUTS 
***************/

    #suid {
        color: white;
        background: red;
        width: 100%;
    }
    
    #body {
        width: 740px;
        margin-left: auto;
        margin-right: auto;
    }

    #body-left {
        width: 140px;
        border-right: 1px solid gray;
        text-align: center;
        font-family: "MS Sans Serif", sans-serif;
        padding-top: 4px;
    }

    #body-top {
        border-bottom: 1px solid gray;
        text-align: center;
        font-size: 75%;
        font-weight: bold;
        padding: 4px;
        padding-bottom: 16px;
        font-family: "MS Sans Serif", sans-serif;
    }

    #body-top table { width: 100%; padding: 4px; }
    #body-top .date-heure { text-align: left; }
    #body-top .inscrits { text-align: right; }
    
    #body-bottom {
        border-top: 1px solid gray;
        text-align: center;
        padding: 4px;
        font-size: 75%;
        font-family: "MS Sans Serif", sans-serif;
    }

    #menu {
        width: 100%;
        margin-top: 16px;
        
        font-size: 75%;
        font-weight: bold;
    }
    
    #menu .menu_item {
        padding-left: 4px;
        padding: 2px;
        text-align: left;
    }
    
    #menu .menu_title {
        color: gray;
        background: #eeeeee;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        padding: 1px;
        margin-top: 4px;
        text-align: center;
    }
    
    #content {
        width: 600px;
        padding: 4px 0px 4px 16px;
        font-size: 95%;
    }
