/*

..:: CSS Minimale ::..

I.   Styles par défauts.                balises sans attributs ou classes sans contexte
II.  Styles <p>, <div>, <span> ...      <p>, <div>, <span>, <li>, ...
III. Tableaux bicolores                 Tableaux à lignes alternées, en taille normale, ou tiny
IV.  Tableau de choix de skins
V.   contacts
VI.  profil (onglets)

..:: Appendices ::..
Choix de la skin
*/

/**: I. :**/

body {
    font-family: "Arial", sans-serif;
    color: #000000;
    background: #ffffff;
}

a:link, a:visited, a:active, a:hover { color: #003399; background: inherit; }
a img { border: 0px; }
td    { vertical-align: top; }
li    { padding-left: 3px; padding-right: 3px; text-align: justify; }
hr    { width: 90%; text-align: center }

.center { text-align: center; }
.right  { text-align: right; }
.middle { vertical-align: middle; }
.smaller { font-size: smaller; font-style: italic; }

.pri1, .pri2, .pri3, .pri4, .pri5 { color: inherit; }

.pri1 { background-color: #dac0c0; font-style: italic; }
.pri2 { background-color: #dab0b0; font-style: italic; }
.pri3 { background-color: #daa0a0; }
.pri4 { background-color: #da9090; }
.pri5 { background-color: #da8080; font-weight: bold; }

/**: II. :**/

p.normal {
    margin-bottom: 0.5em;
    text-align: justify;
}

p.error, span.error, p.erreur, span.erreur {
    font-weight: bold;
    color: #ff0000;
    background: inherit;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

div.rubrique {
    color: #555555;
    background: url('/images/sk_default_titre.gif');
    background-repeat: no-repeat;

    text-indent: 0.2em;
    text-align: left;
    font-size: 120%;
    font-family: "helvetica", sans-serif;
    font-weight: bolder;

    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 0.5em;
}

div.ssrubrique {
    padding-top: 0.5em;
    font-weight: bold;
}

p.sstitre, div.sstitre {
    margin-top: 1em;
    font-weight: bold;
}

p.explication, div.explication {
    font-style: italic;
    padding: 0.25em;
    text-align: justify;
}
p.question, div.question {
    font-weight: bold;
    padding: 0.25em;
}
p.warn, div.warn {
    font-style : italic;
    padding-top: 1em;
    padding-bottom: 1em;
}

li.spaced {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: justify;
}

td.half { width: 50%; padding: 4px; }

/**: III. :**/

table.bicol {
    color: inherit;
    background: #eeeeee;
    border: 1px solid #336699;
    border-collapse: collapse;
    width: 98%;
    margin-left: 1%;
}
table.tinybicol {
    color: inherit;
    background: #eeeeee;
    border: 1px solid #336699;
    border-collapse: collapse;
    width: 70%;
    margin-left: 15%;
}
table.tinybicol tr.impair, table.bicol tr.impair {}
table.tinybicol tr.pair, table.bicol tr.pair {
    color: inherit;
    background: #eeeed0;
}
table.tinybicol th, table.bicol th {
    color: #ffffff;
    background: #336699;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}
table.tinybicol td, table.bicol td {
    color: #000000;
    background: inherit;
}
table.tinybicol td.titre, table.bicol td.titre {
    color: #000000;
    background: inherit;
    font-weight: bold;
}
table.tinybicol td.info, table.bicol td.info {
    padding: 0.5em;
    width: 50%;
}
table.tinybicol td.action, table.bicol td.action {
    white-space: nowrap;
    text-align: right;
    font-weight: bold;
    vertical-align: middle;
}
table.tinybicol td.action a, table.bicol td.action a {
    padding: 4px;
}


/**: IV. :**/

#skin {
    border-bottom: 1px solid #003399;
    border-top: 1px solid #003399;
    width: 98%;
    margin-left: 1%;
}
#skin td {
    border-bottom: 2px solid #003399;
    border-top: 1px solid #003499;
    vertical-align: middle;
}
#skin td.skigauche {
    background: #eeeeee;
    color: inherit;
    vertical-align: middle;
}
#skin td.skimilieu {
    padding-left: 1em;
    width: 100%;
}
#skin td.skidroite { padding: 0; }

/**: V. :**/
div.contact-list {
    width: 98%;
    margin-left: 1%;
}

div.contact-list div.contact {
    width: 100%;
    text-align: left;
    border-top: 1px solid #003399;
    background: #F4D09C;
    color: inherit;
}

div.contact div.nom {
    font-weight: bold;
    width: 35%;
    float: left;
}

div.contact div.appli {
    width: 50%;
    float: left;
}

div.contact div.bits {
    text-align: right;
    width: 15%;
    float: left;
}

div.bits .smaller { display: none; }
div.contact:hover div.bits .smaller { display: inline; }

div.contact div.long {
    width: 100%;
    clear: both;
    background: white;
    color: inherit;
    padding-top: 1px;
    padding-bottom: 1px;
}

div.long table { width: 100%; }
div.long td.lt { width: 35%; }
div.long td.rt { width: 65%; }

/**: VI. :**/

table.cadre_a_onglet{
    border-width: 0;
    padding : 0;
    margin: 0;
}

div.conteneur_onglets{
    /*padding : 2px;*/
}

div.conteneur_tab {
    border-width : 1px 2px 2px 1px;
    border-style : solid;
    border-color : #999;
    padding : 4px 0px 0px 4px;
    background : #eceade;
}

#onglet {
    display : block;
    margin : 0;
    padding : 0;
    /*height : 50px;*/
}

#onglet li {
    display : block;
    float : left;
    padding : 0.5ex;
    margin : 0 0.3ex -1px 0;
    background : #D2E0E6  repeat-x 0 100%;
    border-width : 1px 1px 0px 1px;
    border-style : solid;
    border-color : #999;
    border-bottom-color : #999;
    width: auto;
    height: 6ex;
    text-align: center;
}

#onglet li:hover {
    background : #fc3 repeat-x 0 100%;
}

#onglet li.actif {
    background : #eceade;
    border-bottom-color : #eceade;
    font-weight: bold;
}

#onglet li a {
    /*font-family : Arial,Helvetica,sans-serif;*/
    font-size: 80%;
    font-weight : normal;
    text-decoration : none;
    color : #000;
}

#onglet li a:hover {
    text-decoration: underline;
}

#onglet li img {
    margin-right : 2px;
}

/*************************/
/*  ..:: Apendices ::..  */
/*************************/

#dev {
    position: fixed;
    top     : 32px;
    right   : 14px;
    width   : 128px;
    z-index : 1;

    color: #003399;
    background: #e0ffff;
    border: 1px dashed #003399;

    font-family: 'Bauhaus Md BT','Bitstream Vera',sans-serif;
    font-size: 10pt;
    font-weight: bold;
}
#dev div { padding: 3px; }
#dev .title {
    text-align: center;
    font-size: larger;
    text-decoration: underline;
}
#dev a:hover {
    color: inherit;
    background: #c0e0e0;
}

#db-trace div.hide       { display: none; }
#db-trace:hover div.hide { display: block }

#suid {
    color: red;
    background: #ffc0cb;
    width: 100%;
    font-weight: bold;
    position: fixed;
}
#suid td { padding: 2px; }
#suid a { color: red; }

#body {
    width: 740px;
    margin-left: auto;
    margin-right: auto;
}

#body-logo {
    width: 140px;
    border-right: 1px solid gray;
    text-align: center;
    font-family: "MS Sans Serif", sans-serif;
    padding-top: 4px;
    border-bottom: 1px solid gray;
}

#body-top {
    border-bottom: 1px solid gray;
    text-align: center;
    font-size: 75%;
    font-weight: bold;
    padding: 4px;
    padding-bottom: 16px;
    font-family: "MS Sans Serif", sans-serif;
}

#body-top table { width: 100%; padding: 4px; }
#body-top .date-heure { text-align: left; }
#body-top .inscrits { text-align: right; }

#body-bottom {
    border-top: 1px solid gray;
    text-align: center;
    padding: 4px;
    font-size: 75%;
    font-family: "MS Sans Serif", sans-serif;
}

#body-menu {
    width: 140px;
    border-right: 1px solid gray;
    text-align: center;
    font-family: "MS Sans Serif", sans-serif;
    font-size: 75%;
    font-weight: bold;
}

#body-menu .menu_item {
    padding-left: 4px;
    padding: 2px;
    text-align: left;
}

#body-menu .menu_title {
    color: gray;
    background: #eeeeee;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 1px;
    margin-top: 4px;
    text-align: center;
}

#content {
    width: 600px;
    padding: 4px 0px 4px 16px;
    font-size: 95%;
    vertical-align: top;
}

#content input {
    font-size: 95%
}
/* vim: set et ts=4 sts=4 sw=4: */
/* $Id: default.css,v 1.27 2004-07-17 12:28:10 x2000habouzit Exp $ */
