/*

..:: CSS Minimale ::..

I.   Styles par défauts.                balises sans attributs ou classes sans contexte
II.  Styles <p>, <div>, <span> ...      <p>, <div>, <span>, <li>, ...
III. Tableaux bicolores                 Tableaux à lignes alternées, en taille normale, ou tiny
IV.  Tableau de u choix de skins

..:: Appendices ::..
Choix de la skin
*/

/**: I. :**/

body {
    font-family: "Arial", sans-serif;
    color: #000000;
    background: #ffffff;
}

a:link, a:visited, a:active, a:hover { color: #003399; background: inherit; }
a img { border: 0px; }
td    { vertical-align: top; }
li    { padding-left: 3px; padding-right: 3px; text-align: justify; }
hr    { width: 90%; text-align: center }

.center { text-align: center; }
.right  { text-align: right; }
.middle { vertical-align: middle; }

/**: II. :**/

p.normal {
    margin-bottom: 0.5em;
    text-align: justify;
}

p.error, span.error, p.erreur, span.erreur {
    font-weight: bold;
    color: #ff0000;
    background: inherit;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

div.rubrique {
    color: #555555;
    background: url('/images/sk_default_titre.gif');
    background-repeat: no-repeat;

    text-indent: 0.2em;
    text-align: left;
    font-size: 120%;
    font-family: "helvetica", sans-serif;
    font-weight: bolder;

    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 0.5em;
}

div.ssrubrique {
    padding-top: 0.5em;
    font-weight: bold;
}

p.sstitre, div.sstitre {
    margin-top: 1em;
    font-weight: bold;
}

p.explication, div.explication {
    font-style: italic;
    padding: 0.25em;
    text-align: justify;
}
p.question, div.question {
    font-weight: bold;
    padding: 0.25em;
}
p.warn, div.warn {
    font-style : italic;
    padding-top: 1em;
    padding-bottom: 1em;
}

li.spaced {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: justify;
}

p.smaller, div.smaller {
    font-size: smaller;
    font-style: italic;
}

td.half { width: 50%; padding: 4px; }

/**: III. :**/

table.bicol {
    color: inherit;
    background: #eeeeee;
    border: 1px solid #336699;
    border-collapse: collapse;
    width: 98%;
    margin-left: 1%;
}
table.tinybicol {
    color: inherit;
    background: #eeeeee;
    border: 1px solid #336699;
    border-collapse: collapse;
    width: 70%;
    margin-left: 15%;
}
table.tinybicol tr.impair, table.bicol tr.impair {}
table.tinybicol tr.pair, table.bicol tr.pair {
    color: inherit;
    background: #eeeed0;
}
table.tinybicol th, table.bicol th {
    color: #ffffff;
    background: #336699;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}
table.tinybicol td, table.bicol td {
    color: #000000;
    background: inherit;
}
table.tinybicol td.titre, table.bicol td.titre {
    color: #000000;
    background: inherit;
    font-weight: bold;
}
table.tinybicol td.info, table.bicol td.info {
      padding: 0.5em;
      width: 50%;
}

/**: IV. :**/

#skin {
    border-bottom: 1px solid #003399;
    border-top: 1px solid #003399;
    width: 98%;
    margin-left: 1%;
}
#skin td {
    border-bottom: 2px solid #003399;
    border-top: 1px solid #003499;
    vertical-align: middle;
}
#skin td.skigauche {
    background: #eeeeee;
    color: inherit;
    vertical-align: middle;
}
#skin td.skimilieu {
    padding-left: 1em;
    width: 100%;
}
#skin td.skidroite { padding: 0; }

/*************************/
/*  ..:: Apendices ::..  */
/*************************/

#suid {
    color: white;
    background: red;
    width: 100%;
}

#body {
    width: 740px;
    margin-left: auto;
    margin-right: auto;
}

#body-logo {
    width: 140px;
    border-right: 1px solid gray;
    text-align: center;
    font-family: "MS Sans Serif", sans-serif;
    padding-top: 4px;
    border-bottom: 1px solid gray;
}

#body-top {
    border-bottom: 1px solid gray;
    text-align: center;
    font-size: 75%;
    font-weight: bold;
    padding: 4px;
    padding-bottom: 16px;
    font-family: "MS Sans Serif", sans-serif;
}

#body-top table { width: 100%; padding: 4px; }
#body-top .date-heure { text-align: left; }
#body-top .inscrits { text-align: right; }

#body-bottom {
    border-top: 1px solid gray;
    text-align: center;
    padding: 4px;
    font-size: 75%;
    font-family: "MS Sans Serif", sans-serif;
}

#body-menu {
    width: 140px;
    border-right: 1px solid gray;
    text-align: center;
    font-family: "MS Sans Serif", sans-serif;
    font-size: 75%;
    font-weight: bold;
}

#body-menu .menu_item {
    padding-left: 4px;
    padding: 2px;
    text-align: left;
}

#body-menu .menu_title {
    color: gray;
    background: #eeeeee;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 1px;
    margin-top: 4px;
    text-align: center;
}

#content {
    width: 600px;
    padding: 4px 0px 4px 16px;
    font-size: 95%;
    vertical-align: top;
}
/* vim: set et ts=4 sts=4 sw=4: */
/* $Id: default.css,v 1.14 2004-02-11 15:35:32 x2000habouzit Exp $ */
