#flyspray_report {
	display:none;
	position:fixed;
	width:60%;
	height:470px;
	top:20%;
	left:20%;
	border: solid 1px;
	background:white;
	color:black;
	text-align:left;
}
#flyspray_report div {
	margin-left:10%;
	margin-right:10%;
}
#flyspray_report textarea {
	width:100%;
	margin-bottom:10px;
	height:300px;
	display:block;
}
#flyspray_submit {
	text-align:center;
}