div.frame {
    margin: 0px;
    padding: 8px 2px;
    float: right;
    margin: 5px 0px 5px 5px;
}

table.quickref       {
    margin-top 1em: padding: 0px;
    border: 1px dotted #aaaaaa;
    font-size: 95%;
}

table.quickref tr    {
    padding 0px;
    margin: 0px;
}

table.quickref td    {
    margin: 0px;
    padding: 4px;
    border-top: 1px dotted #aaaaaa;
}

#text { width:800px; }
.diffbox { border:1px #999999 solid; margin-top:1.33em; }
.diffauthor { font-weight:bold; }
.diffchangesum { font-weight:bold; }
.difftime { font-family:verdana,sans-serif; font-size:66%; background-color:#dddddd; }
.difftype { clear:both; font-family:verdana,sans-serif; font-size:66%; font-weight:bold; }
.diffadd { border-left:5px #99ff99 solid; padding-left:5px; }
.diffdel { border-left:5px #ffff99 solid; padding-left:5px; }
.diffrestore { clear:both; font-family:verdana,sans-serif; font-size:66%; margin:1.5em 0px; }
a.varlink { text-decoration:none; }
    
