[submodule "core"]
	path = core
	url = .
[submodule "banana"]
	path = banana
	url = git://github.com/Polytechnique-org/banana.git
[submodule "include/raven"]
	path = include/raven
	url = git://github.com/getsentry/raven-php.git
