BODY {
	background-color: #F2E9D0;
	margin-left: 0;
	margin-top: 0;
	color: #505050;
	font-family: "Bitstream vera sans","Verdana",sans-serif;
	font-size: 10pt;
	border-top: 1px;
}

table { font-size: 10pt; font-family: "Bitstream vera sans","Verdana",sans-serif; }
input,textarea,tt,pre { font-size: 10pt; }

img { vertical-align: middle; }

A:link {
	color: #5C81AA;
}
A:visited {
	color:  #5C81AA;
}

A.s:link {
	text-decoration: none ;
	color: #9F81AD;
}
A.s:visited {
	text-decoration: none ;
	color: #9F81AD;
}

TABLE.tableprincipale {
	width: 765px;
	border: 0px;
	margin: 0px;
	padding: 0px;
}

table.menu { width: 150px; }

th.menu {
	padding: 0.5em 0em 0.6em 0em;
	font-size: 95%;
	text-align: left;
	font-family: "Arial",sans-serif;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	background: url('images/barre.png') bottom left no-repeat;
}

TD.menu {
	padding: 0.2em 0em 0.2em 0em;
	font-size: 95%;
	text-align: left;
	font-family: "Arial",sans-serif;
	vertical-align: middle;
}

TD.infos {
	height: 30px;
	text-align: center;
	font-family: "Bitstream Vera Sans","Arial",sans-serif;
	color: #505050;
}

TD.pres {
	background-repeat: no-repeat;
	background-image: url("images/oval.png");
	background-position: center center;
	height: 50px;
	text-align: center;
	width: 210px;
}
TD.presautres {
	background-repeat: no-repeat;
	background-image: url("images/oval.png");
	background-position: top center;
	font-size: 90%;
	height: 50px;
	text-align: center;
	width: 200px;
}

TD.pres2 {
	background-repeat: no-repeat;
	background-image: url("images/oval2.png");
	height: 50px;
	text-align: center;
	width: 202px;
}

TD.choix1 {
	height: 30px;
	background-color: #D0C198;
	font-size: 100%;
	color: #5C81AA;
}
DIV.choix1 {
	text-align: center;
}
TD.choix1actif {
	height: 30px;
	vertical-align: middle;
	text-decoration: none;
}

TD.choix2 {
	height: 20px;
	background-color: #D0C198;
	font-size: 80%;
}
TD.choix2actif {
	height: 20px;
	background-color: #5C81AA;
	color:#D0C198;
}
DIV.choix2 {
	text-align: center;
}

TD.liens-puce {
	width: 15px;
	vertical-align: center;
	padding-left: 0.25em;
}

TD.liens {
	vertical-align: center;
	padding-left: 0.5em;
	text-align: left;
}

td.tdliens {
	padding: 0.4em 0em 0.4em 0em;
}

P.descr {
	text-align: justify;
	font-size: 90%;
	font-weight: bold;
	padding-left: 7px;
	padding-right: 7px;
}
UL.descr {
	text-align: justify;
	font-size: 80%;
	font-weight: bold;
}
