img { border: 0px; margin: 0; }

table.bicol div, table.bananaoverview div { height: 21px; }


table.bicol { width: 100%; }

table.bicol td {
    padding-left: 0.5em;
    padding-right: 0.5em;
    white-space: nowrap;
    overflow: hidden;
}
table.bicol td.bicolvpadd, td.bouton {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
table.bicol td.bouton {
    text-align: center;
}

/*******************************************
*             FORUMS                       *
*******************************************/

div.bananashortcuts {
    text-align: left;
    padding-bottom: 1em;
    padding-top: 1em;
}

div.bananatree {
    float: left;
    padding-right: 0.3em;
}

span.bananaisref {
    font-style: italic;
}

table.bicol td.banananopadd {
    padding-left: 0em;
    padding-right: 0em;
}

table.bicol td.bananatotal,td.bananaunread,td.bananadate {
    text-align: center;
    padding-left: 0.1em;
    padding-right: 0.1em;
}

table.bicol td.bananasubject,td.bananagroup,td.bananafrom,td.bananadescription {
    text-align: left;
}

table.bananaoverview {
    /*  background-color: #eeeeee;*/
    background-color: inherit;
    color: inherit;
    width: 100%;
    font-size: 95%;
}

table.bananaoverview tr.impair {}

table.bananaoverview tr.pair {
    background-color: #eeeed0;
    color: inherit;
}

table.bananaoverview th {
    /*  background-color: #336699;*/
    background-color: inherit;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

table.bananaoverview td {
    color: #000000;
    background-color: inherit;
    padding: 0px 0.4em 0px 0.4em;
}

table.bananaoverview td.bananasubject,td.bananagroup,td.bananafrom,td.bananadescription {
    text-align: left;
}

table.bananaoverview span.isref {
    font-style: italic;
}

