Options +FollowSymLinks
RewriteEngine on

RewriteBase /~x2000habouzit

# Rewrite URLs of the form 'index.php?q=x':
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?n=$1 [L,QSA]
